body {
    margin: 0;
    font: .9em/1.2 Arial, Helvetica, sans-serif;
}

.container {
    display: grid;
    grid-template-columns: 0.1fr 1.5fr 1.5fr 1fr;
    grid-template-rows: 0.25fr 3fr;
    grid-auto-rows: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "header header header sidebar-top"
        "menu map1 map2 sidebar";
    width: 100vw;
    height: 100vh;
}

.header,
.sidebar,
.sidebar-top {
    background-color: #ffffff;
}

.header,
.sidebar-top {
    margin-top: 10px;
}

.header {
    grid-area: header;
    display: flex;
    text-align: start;
    margin-left: 1em;
    /* box-shadow: 0 5px 10px rgb(12 12 13 / 10%); */
}

/* .main-menu {
    grid-area: main-menu;
} */

.map {
    border-radius: 1em;
    margin-top: 0.25em;
    margin-bottom: 0.5em;
}

.map1 {
    grid-area: map1;
    margin-right: 0.25em;
    margin-left: 0.5em;
}

.map2 {
    grid-area: map2;
    margin-right: 0.5em;
    margin-left: 0.25em;
}

.sidebar {
    grid-area: sidebar;
    margin-right: 0.5em;
}

.sidebar-top {
    grid-area: sidebar-top;
    justify-content: center;
    /* border-left: 1px solid #c4c4c4; */
    margin-right: 0.5em;
}

.sidebar h1,
h2,
h3,
h4,
h5 {
    padding-left: 0.5em;
}

/* Vertical line divider */
.vertical-line {
    display: inline-block;
    border-left: 1px solid #ccc;
    margin: 0 10px;
    height: 1em;
}

/* Select menu button*/
select {
    margin-left: 0.5em;
    font-family: Arial, sans-serif;
    font-weight: 600;
    color: #4e4e4e;
    background-color: #f9f9f9;
    border: 0px;
    border-radius: 0.25em;
    padding-left: 0.5em;
    outline: 0px;
    width: 10em;
    height: 3em;
    box-shadow: 5px 5px 7px 1px #dddddd;
    opacity: 1;
    transition: opacity 1s ease 0s;
}

select:hover {
    background-color: rgb(236, 236, 236);
    opacity: 0.6;
}

.flex-container {
    display: flex;
    /* height: 5%; */
    justify-content: center;
}

.flex-child {
    height: 0;
}

.state-name,
.chamber-type {
    font-size: 1.6em;
}

.state-name {
    font-family: Arial Black, Arial, Helvetica, sans-serif;
    color: #001747ff;
    font-weight: bolder;
}

.chamber-type {
    color: #999999ff;
    font-family: Arial Narrow, Arial, Helvetica, sans-serif;
    font-weight: 400;
    padding-left: 0.5em;
}

.state-seats {
    font-size: 1.2em;
    font-weight: 500;
    padding-right: 4px;
    padding-bottom: 20px;
    height: 0;

}

.seats {
    padding-right: 0.25em;
}

.label {
    padding-right: 0.5em;
}

.dem {
    color: #0070ffff;
}

.rep {
    color: #ff0000ff;
}

/* .flex-child:first-child {
    background-color: red;
} */

.solid-divider {
    border-top: 1px solid #dadada
}

/* Solid border */
hr.solid {
    border-top: 3px solid rgb(163, 69, 69);
}

/* Navigation tabs on the right hand side */
.tabs {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    width: 100%;
    border-radius: 0.25em;
    justify-items: center;
}

.tabs_tab {
    color: rgb(179, 199, 219);
    font-size: 1em;
    font-weight: 300;
    padding: 0.5rem 0;
    border-bottom: solid #aaaaaa 1px;
    border-left: none;
    border-right: none;
    width: 100%;
    height: 25px;
    text-align: center;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: rgb(26, 52, 78);
    transition: all ease 100ms;
}

input:hover~.tabs_tab {
    color: rgb(192, 213, 235);
    background: rgb(34, 69, 104);
}

input:active~.tabs_tab {
    background: #e0e0e0;
}

.tabs li {
    position: relative;
    width: 100%;
}

.tabs input {
    margin: 0;
    padding: 0;
    position: absolute;
    opacity: 0;
    cursor: pointer;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
}

input:checked~.tabs_tab {
    border-bottom: solid #adf 2px;
    font-weight: 600;
    background: #001747ff;
    ;
    box-shadow: none;
    color: #adf;
}

li:last-child>input:checked~.tabs_tab {
    border-right: none;
}

li:first-child>input:checked~.tabs_tab {
    border-left: none;
}

.tab__body.active {
    display: block;
}

.tab__body {
    overflow-y: auto;
    margin: 0;
    padding: 0.5rem 0;
    flex-shrink: 10;
    display: none;
}

.tabs>.line {
    background: #68a;
    height: 1px;
    pointer-events: none;
}

.tabs>.line {
    opacity: 0;
    transition: all .5s;
    position: absolute;
    bottom: 0;
    left: var(--left, calc(100% / var(--items) * (var(--index) - 1)));
    width: var(--width, calc(100% / var(--items)));
    --index: 0;
}

.tabs>a:hover~.line {
    opacity: 1;
}


/* TABLE STYLES */
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td,
th {
    border-bottom: 1px solid #dddddd;
    text-align: center;
    padding: 8px;
}

th {
    color: #9ab;
    font-weight: 400;
}

td {
    color: rgb(63, 63, 63)
}

tr:nth-child(even) {
    background-color: #ffffff;
}