.mapcontainer {
	top: 80px;
	width: 100%;
	width: calc(75%);
	overflow: hidden;
}

#menu {
	background: #fff;
	position: absolute;
	z-index: 1;
	top: 160px;
	left: 10px;
	border-radius: 3px;
	width: 120px;
	border: 1px solid rgba(0, 0, 0, 0.4);
	font-family: 'Open Sans', sans-serif;
}

#menu a {
	font-size: 13px;
	color: #404040;
	display: block;
	margin: 0;
	padding: 0;
	padding: 10px;
	text-decoration: none;
	border-bottom: 1px solid rgba(0, 0, 0, 0.25);
	text-align: center;
}

#menu a:last-child {
	border: none;
}

#menu a:hover {
	background-color: #f8f8f8;
	color: #404040;
}

#menu a.active {
	background-color: #3887be;
	color: #ffffff;
}

#menu a.active:hover {
	background: #3074a4;
}

/* #map {
	float: left;
	display:flex;
	position:relative;
	bottom: 0;
	height: 100%;
	position: absolute;
	top: 0;
	width: 100%;
} */


.mapboxgl-popup-content {
	min-width: 300px;
}


.mapboxgl-popup-content h3 {
	font-weight: 500;
	font-size: 1.6em;
	border-width: 0px 0px 0.5px 0px;
	border-style: solid;
	border-color: rgb(30, 30, 30);
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}

.mapboxgl-popup-content h2 {
	font-weight: 500;
	margin-top: 0.5em;
	margin-bottom: 0.3em;
}

.mapboxgl-popup-content p {
	font-weight: 300;
	font-size: 1.0em;
	margin-top: 0.3em;
	margin-bottom: 0em;
}

#zoomLevelDiv {
	color: yellow;
	font-size: 32px;
	font-weight: bold;
	height: 36px;
	left: 36px;
	position: absolute;
	text-shadow: 2px 2px 6px #808000;
	top: 100px;
	width: 64px;
}

#divControls {
	background-color: rgba(204, 232, 255, 0.875);
	border-radius: 16px;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	height: 120px;
	left: 8px;
	position: absolute;
	top: 64px;
	width: 144px;
}